/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --color-primary: crimson;
  --first-color-alt: #f61642;
  --title-color: #515050;
  --text-color: #3e3e3e;
  --text-color-light: #a6a6a6;
  --body-color: #fbfefd;
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --name-font-size: 0.99rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --name-font-size: 1rem;
    --normal-font-size: 0.95rem;
    --small-font-size: 0.78rem;
    --smaller-font-size: 0.75rem;
  }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: #051441;
  text-decoration: none;
  transition-duration: 0.4s;
}

a:hover {
  color: #f91845;
  text-decoration: none;
}

.navbar-toggler:focus,
a:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*======================================
	 Top Bar CSS
========================================*/
.topbar {
  height: 40px;
}

.topbar .hospital-contact span {
  font-size: var(--small-font-size);
}
.topbar .hospital-contact i {
  margin-right: var(--mb-1);
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.4s;
}
.topbar .hospital-contact i:hover {
  background-color: #fff;
  color: crimson;
}
.topbar .hospital-social i {
  margin-right: var(--mb-2);
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.4s;
}
.topbar .hospital-social i:hover {
  background-color: #fff;
  color: crimson;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 19px;
  bottom: 15px;
  z-index: 996;
  background: crimson;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: var(--h2-font-size);
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f7fd;
  min-height: 40px;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
  text-transform: capitalize !important;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

/*======================================
	 Start Header CSS
========================================*/
.header {
  width: 100%;
  background: #fff;
  position: relative;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition-duration: 0.4s;
}

.header .header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  position: relative;
  /* top: 40px; */
}

@media (max-width: 767px) {
  .header .header-middle .d-xs-none {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .mobile-menu-btn .toggler-icon {
    background-color: #081828;
  }

  .header .button {
    margin: 0 !important;
  }

  .header .nav-inner {
    display: block !important;
    /* padding: 18px 0; */
    /* margin-right: 20px; */
  }

  .header .navbar .navbar-nav .nav-item a:hover {
    color: crimson !important;
  }

  .header .navbar .navbar-nav .nav-item a.active {
    color: crimson !important;
  }

  .header .navbar-nav .nav-item {
    margin: 0;
  }

  .header .navbar-nav .nav-item:hover a {
    color: crimson;
  }

  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }

  .header .navbar-nav .nav-item a::before {
    display: none;
  }

  .header .navbar-nav .nav-item .sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 12px 12px;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: crimson !important;
  }

  .header .navbar-nav .nav-item a {
    color: #051441;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
  }

  .header .navbar-nav .nav-item a::after {
    opacity: 1;
    visibility: visible;
  }

  .header .navbar-nav .nav-item .sub-menu li.active {
    background: #fff !important;
    color: crimson !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item {
    margin: 0 !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 10px 12px !important;
  }

  .header .navbar-nav .nav-item .sub-menu li:hover {
    background: #fff !important;
    color: crimson !important;
  }

  .header .navbar-nav .nav-item a {
    font-size: 14px;
  }

  .header .navbar-nav .nav-item a:hover {
    color: crimson;
  }
}

@media (max-width: 767px) {
  .header .mobile-menu-btn .toggler-icon {
    background-color: #081828;
  }

  .header .button {
    margin: 0 !important;
  }

  .header .nav-inner {
    display: block !important;
    /* padding: 15px; */
  }



  .header .navbar .navbar-nav .nav-item a:hover {
    color: crimson !important;
  }

  .header .navbar .navbar-nav .nav-item a.active {
    color: crimson !important;
  }

  .header .navbar-nav .nav-item {
    margin: 0;
  }

  .header .navbar-nav .nav-item:hover a {
    color: crimson;
  }

  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }

  .header .navbar-nav .nav-item a::before {
    display: none;
  }

  .header .navbar-nav .nav-item .sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 12px 12px;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: crimson !important;
  }

  .header .navbar-nav .nav-item a {
    color: #262324;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
  }

  .header .navbar-nav .nav-item a::after {
    opacity: 1;
    visibility: visible;
  }

  .header .navbar-nav .nav-item .sub-menu li.active {
    background: #fff !important;
    color: crimson !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item {
    margin: 0 !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 10px 12px !important;
  }

  .header .navbar-nav .nav-item .sub-menu li:hover {
    background: #fff !important;
    color: crimson !important;
  }

  .header .navbar-nav .nav-item a {
    font-size: 14px;
  }

  .header .navbar-nav .nav-item a:hover {
    color: crimson;
  }
}

@media (max-width: 1200px) {
  .header .navbar-collapse {
    position: absolute;
    top: 67px !important;
    left: -190px;
    /* right: 250px; */
    width: 245px !important;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 385px;
    overflow-y: scroll;
    border-radius: 6px;
    overflow-x: hidden !important;
  }
}
@media (min-width: 790px) {
  .header .navbar-collapse {
    top: 75px !important;
    left: -190px;
    
  }
}

.header .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.header .navbar-logo img {
  width: 80px;
  height: 80px;
}

.header .navbar-logo {
  margin: 0;
}

@media (max-width: 767px) {
  .header .navbar-logo img {
    width: 70px;
    height: 70px;
  }

  .header .navbar-logo {
    display: block;
    text-align: left;
    padding: 0;
  }
}

.header .navbar-logo a {
  width: 200px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-logo a {
    width: 190px;
  }
}

@media (max-width: 767px) {
  .header .navbar-logo a {
    width: 180px;
  }
}

.header .navbar-logo h1 {
  font-size: 25px;
  font-weight: bold;
  color: #2e2e2e;
  padding: 0 !important;
  margin: 1px;
  text-transform: uppercase;
}

.header .navbar-logo h2 {
  font-size: 15px;
  /* font-weight: bold; */
  color: #2e2e2e;
  letter-spacing: 0.5px;
  margin: 1px;
  text-transform: uppercase;
}
/* .header .navbar-logo  {
  font-size: 14px;
  color: #2e2e2e;
  font-weight: bold;
  padding: 0 !important;
  margin: 1px;
  text-transform: uppercase;
  
} */

@media (max-width: 767px) {
  .header .navbar-logo h1 {
    font-size: 22px;
  }
  .header .navbar-logo h2 {
    font-size: 15px;
  }
  .header .navbar-logo h4 {
    font-size: 12px;
  }
}

.header.sticky .navbar-logo .white-logo {
  opacity: 0;
  visibility: hidden;
}

.header.sticky .navbar-logo .dark-logo {
  opacity: 1;
  visibility: visible;
}

.header.sticky .button .btn {
  background-color: crimson;
  color: #fff;
  border-color: transparent;
}

.header.sticky .button .btn:hover {
  background-color: #081828;
  color: #fff;
}

.navbar-expand-lg .navbar-nav {
  margin: 0;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.header .navbar .navbar-nav .nav-item a.active {
  color: crimson;
}

.sticky .navbar .navbar-nav .nav-item a.active {
  color: crimson;
}

.sticky .navbar .mobile-menu-btn .toggler-icon {
  background: #333;
}

/*===== NAVBAR =====*/

/* .navbar-area {
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 0;
} */

.navbar-area.sticky {
  position: fixed;
  z-index: 99;
  background: crimson;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #fff;
  padding: 0px 0;
}

.navbar {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-logo {
  padding-left: 0;
  border-radius: 0;
}

.mobile-menu-btn {
  padding: 5px;
  margin-right: var(--mb-1) !important;
  margin-bottom: var(--mb-1) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.mobile-menu-btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}

.mobile-menu-btn .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

.navbar-nav .nav-item {
  z-index: 1;
  position: relative;
  margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}

.navbar-nav .nav-item:hover a {
  color: crimson;
}

.sticky .navbar-nav .nav-item:hover a {
  color: crimson;
}

.navbar-nav .nav-item a {
  font-size: 14px;
  color: #081828;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
  padding: 20px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.3s ease-out 0s;
  position: relative;
  text-transform: capitalize;
}

.navbar-nav .nav-item:hover .dd-menu::before {
  border-bottom-color: crimson;
  border-right-color: crimson;
}

.navbar-nav .nav-item a.active {
  color: crimson;
}

.navbar-nav .nav-item a.dd-menu::after {
  font-size: 1em;
  position: absolute;
  right: -20px;
  font-size: 12px;
  top: 50%;
  margin-left: 5px;
  margin-top: -4px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item a.dd-menu::after {
    right: -15;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item a.dd-menu::after {
    top: 18px;
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item a.collapsed::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.navbar-nav .nav-item:hover > .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.navbar-nav .nav-item:hover > .sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

.navbar-nav .nav-item .sub-menu {
  padding: 15px;
  min-width: 200px;
  background: #fff;
  position: absolute;
  top: 150% !important;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: -1px 0px 5px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: -1px 0px 5px 4px rgba(0,0,0,0.16);
  box-shadow: -1px 0px 5px 4px rgba(0,0,0,0.16);
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100% !important;
}




.navbar-nav .nav-item .sub-menu .nav-item {
  width: 100%;
  margin-bottom: 15px;
  transition-duration: .4s;
}

.navbar-nav .nav-item .sub-menu .nav-item:last-child {
  margin: 0;
}

.navbar-nav .nav-item .sub-menu .nav-item a {
  padding: 0;
  color: #262324;
  display: block;
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: var(--mb-1);
}
.navbar-nav .nav-item .sub-menu .nav-item:hover{
  background-color: crimson;
}

.navbar-nav .nav-item .sub-menu .nav-item:hover a {
  color: white !important;
}

.navbar-nav .nav-item .sub-menu.left-menu {
  left: -100%;
}

.navbar-nav .nav-item .sub-menu.collapse:not(.show) {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
    display: none;
  }
}

.navbar-nav .nav-item .sub-menu > li {
  display: block;
  margin-left: 0;
}

.navbar-nav .nav-item .sub-menu > li:last-child {
  border: none;
}

.navbar-nav .nav-item .sub-menu > li.active > a {
  color: crimson !important;
}

.navbar-nav .nav-item .sub-menu > li > a {
  font-weight: 400;
  display: block;
  padding: 12px 15px;
  font-size: 14px;
  color: #222;
  font-weight: 400;
}

.navbar-nav .nav-item .sub-menu > li:first-child a {
  border: none;
}

/*======================================
     End Header CSS
  ========================================*/

/*======================================
     Hero Section
  ========================================*/

.hero {
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@media (min-width: 992px) {
  .hero {
    margin: 0;
    padding: 0;
  }
  .carousel-item {
    height: calc(100vh - 130px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  /* padding: 60px 0; */
  padding: var(--h3-font-size);
  overflow: hidden;
}

.section-bg {
  background-color: rgb(252, 245, 246);
}

.section-title {
  text-align: center;
  padding: 30px;
}

.section-title h2 {
  font-size: var(--h1-font-size);
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
  text-transform: uppercase !important;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: crimson;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
@media (max-width: 767px) {
  .about {
    padding-top: 0;
    margin-top: 0;
  }

  .about .section-title {
    display: none;
  }
}

.about h1 {
  font-size: var(--h1-font-size);
}

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.departments .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 30px 30px;
  transition: all ease-in-out 0.3s;
  margin-bottom: 20px;
  height: 250px;
}

.departments .icon-box img {
  margin: 0 auto;
  width: 60px !important;
  height: 60px !important;
  transition: all 0.3s ease-out 0s;
  display: flex;
  object-fit: contain !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.departments .icon-box img {
  transition: ease-in-out 0.3s;
}

.departments .icon-box:hover img {
  transform: scale(1.1);
}

.departments .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  /* font-size: 20px; */
  font-size: var(--h3-font-size);
}

.departments .icon-box h4 a {
  color: #2c4964;
}

.departments .icon-box p {
  line-height: 24px;
  /* font-size: 14px; */
  font-size: var(--small-font-size);
  /* font-size: var(--normal-font-size); */
  margin-bottom: 0;
}

.departments .icon-box:hover {
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  transform: translateY(-5px);
  /* transform: translateY(-5px);   */
}

.departments .btn {
  /* font-size: 12px !important; */
  transition-duration: 0.3s;
}
.departments .btn:hover {
  border: none;
  background-color: crimson;
  color: white;
}
.departments-more-arrow img {
  transition: none !important;
  transform: none !important;
  height: 30px !important;
  height: 30px !important;
}
.departments .more-departments {
  /* font-size: 14px !important; */
  padding: 12px;
  background-color: crimson;
  border: 1px solid crimson;
  color: white;
  width: 250px;
  transition-duration: 0.3s;
}
.departments .more-departments:hover {
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
}

.departments .more-departments {
  /* font-size: 14px !important; */
  padding: 12px;
  background-color: crimson;
  border: 1px solid crimson;
  color: white;
  width: 250px;
  transition-duration: 0.3s;
}
.departments .more-departments:hover {
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: crimson;
  color: #fff;
  background-size: cover;
  padding: 60px 0;
  margin-top: 30px;
}

.cta h3 {
  display: inline-block !important;
  color: white;
  /* font-size: 28px; */
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.cta .cta-appointment {
  /* font-size: 14px !important; */
  padding: 12px;

  background-color: crimson;
  color: white;
  border: 1px solid white;
  width: 250px;
  transition-duration: 0.3s;
}
.cta .cta-appointment:hover {
  background-color: #ffffff;
  border: 1px solid crimson;
  color: crimson;
}

/*--------------------------------------------------------------
# Recent News Posts
--------------------------------------------------------------*/

.recent-posts .post-box {
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.recent-posts .post-box .post-img {
  overflow: hidden;
  position: relative;
}

.recent-posts .post-box .post-img img {
  transition: 0.5s;
  height: 250px;
  width: 100%;
}

.recent-posts .post-box .meta {
  margin-top: 15px;
}

.recent-posts .post-box .meta .post-date {
  /* font-size: 15px; */
  font-weight: 400;
  /* color: var(--color-primary); */
}

.recent-posts .post-box .meta .post-author {
  /* font-size: 15px; */
  font-weight: 400;
  /* color: var(--color-secondary); */
}

.recent-posts .post-box .post-title {
  /* font-size: 18px; */
  font-size: var(--h3-font-size);
  color: #383838;
  font-weight: 700;
  margin: 15px 0 0 0;
  position: relative;
  text-transform: capitalize !important;
}

.recent-posts .post-box p {
  margin: 15px 0 0 0;
  color: #383838;
}

.recent-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  margin-top: 15px;
}

.recent-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  /* font-size: 18px; */
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: white;
  /* font-size: 14px; */
  font-size: var(--small-font-size);
  background: #262324;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #262324;
  box-shadow: 0px 2px 15px rgba(82, 82, 82, 0.1);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  display: inline-block !important;
  /* font-size: 22px; */
  /* font-size: 30px; */
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  /* font-size: 14px; */
  font-size: var(--small-font-size);
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #c9c7c7;
}

#footer .footer-top h4,
h3 {
  /* font-size: 16px; */
  font-size: var(--name-font-size);
  font-weight: bold;
  color: #c9c7c7;
  position: relative;
  margin-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links h4 {
  transform: translate(20px);
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  /* color: crimson; */
  /* font-size: 18px; */
  font-size: var(--normal-font-size);
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  transform: translate(20px);
  transition-duration: 0.4s;
}

@media (max-width: 769px) {
  #footer {
    padding: var(--mb-2);
  }

  #footer .footer-top .footer-links ul li,
  #footer .footer-top .footer-links h4 {
    transform: none;
  }
}
#footer .footer-top .footer-links ul li:hover {
  transform: translate(22px);
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #c9c7c7;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: crimson;
}

#footer .credits {
  padding-top: 5px;
  /* font-size: 13px; */
  font-size: var(--smaller-font-size);
  color: #ffffff;
}
#footer .credits a {
  color: crimson;
}

@media (max-width: 769px) {
  #footer .social-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: crimson;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: white;
  color: crimson;
  text-decoration: none;
}

/*--------------------------------------------------------------
# GEORGE MATHAN PAGE
--------------------------------------------------------------*/

.george-mathan img {
  display: block !important;
  margin: 0 auto !important;
  height: 370px;
  width: 320px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 10px;
}

.george-mathan p {
  text-align: justify !important;
  font-size: 14px;
  padding-bottom: 0;
  padding-top: 0;
}

@media (max-width: 991px) {
  .george-mathan img {
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
}

/*--------------------------------------------------------------
# VISION AND MISSION PAGE
--------------------------------------------------------------*/
.vision-mission img {
  height: 280px;
  width: 450px;
  object-fit: cover;
}

.vision-mission p {
  text-align: justify !important;
  font-size: 14px;
  padding: 0;
  margin-bottom: var(--mb-1);
}
.vision-mission h3 {
  color: #2c4964;
  font-size: 18px;
  font-weight: 500px !important;
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
  padding: 0;
  /* color: #353434 !important; */
  /* margin-bottom: 15px; */
}

@media (max-width: 1200px) {
  .vision-mission img {
    height: 220px;
    width: 350px;
    margin-bottom: 20px !important;
    /* padding: 15px; */
  }
}

@media (max-width: 990px) {
  .vision-mission .vision-mission-box {
    /* padding:  var(--mb-1) ; */
    margin: var(--mb-2) 0px;
    margin-bottom: 0;
  }

  .vision-mission h3 {
    text-align: center;

    margin-bottom: var(--mb-2);
  }
}

/*--------------------------------------------------------------
# BOARD OF DIRECTORS PAGE
--------------------------------------------------------------*/

.bo-directors {
  background: #fff;
}

.bo-directors p {
  text-align: justify;
}

.bo-directors .member {
  box-shadow: 0px 2px 15px rgba(33, 27, 28, 0.085);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition-duration: 0.3s;
  width: 300px;
  height: 150px;
}

@media (max-width: 767px) {
  .bo-directors .member {
    width: auto;
  }
}

.bo-directors .member:hover {
  box-shadow: 0px 2px 15px rgba(49, 47, 47, 0.149);
}

.bo-directors .member .pic {
  overflow: hidden;
  width: 180px;
  height: 220px;
  object-fit: cover !important;
}

.bo-directors .member .pic img {
  transition: ease-in-out 0.3s;
  /* border-radius: 10px; */
  width: 180px;
  height: 220px;
  object-fit: contain;
}

.bo-directors .member:hover img {
  transform: scale(1.1);
}

.bo-directors .member h4 {
  font-weight: 700;
  font-size: 17px;
  color: #2c4964;
}

.bo-directors .member span {
  display: block;
  font-size: var(--normal-font-size);
  /* margin: var(--mb-1); */
  position: relative;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Facility
--------------------------------------------------------------*/

.facility {
  border: 1px solid rgba(38, 38, 38, 0.378);
  padding: var(--mb-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--normal-font-size);
  margin: 20px 0px;
  /* height: 270px; */
  height: auto;
  transition-duration: 0.4s;
}

.facility:hover {
  transform: translateY(-5px);
}

.facility h3 {
  font-size: var(--name-font-size);
  display: inline-block !important;
  color: var(--color-secondary-dark);
}

.facility p {
  display: none !important;
}

.facility img {
  width: 80px !important;
  height: 80px !important;
  padding: 15px;
  filter: saturate(0);
}

.facility .facility-description {
  text-align: center;
}

/*--------------------------------------------------------------
# DEPARTMENTS DETAILED PAGE
--------------------------------------------------------------*/
.departments .nav-tabs {
  border: 0;
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid #eee;
}
.departments li {
  margin: 10px;
}

.departments .nav-link {
  border: 0;
  padding: 15px;
  color: #3e3e3e;
  border-radius: 0;
  cursor: pointer;
  background-color: white;
  margin: 0;
}

.departments .nav-link p {
  font-size: var(--normal-font-size) !important;
  /* font-weight: var(--font-semi-bold); */

  transition: 0.3s;
  margin: 0;
  /* color: black !important; */
  transition-duration: 0.4s;
  /* text-transform: uppercase; */
}

.departments .nav-link p {
  margin-bottom: 0;
}
.departments .nav-link:hover {
  background-color: crimson;
}

.departments .nav-link:hover p {
  color: white !important;
  /* text-align: center !important; */
  translate: 20px 0;
}

.departments .nav-link.active {
  background-color: crimson;

  /* border-color: crimson; */
}

.departments .nav-link.active p {
  color: white !important;
}

.departments .tab-pane.active {
  animation: slide-down 0.5s ease-out;
}

.departments .tab-pane h3 {
  font-size: 20px;
  color: #2c4964;
  text-transform: uppercase;
  /* margin: var(--mb-5) 0px; */
  margin: 0;
  padding: 0;
}
.departments .tab-pane .department-img {
  width: 100%;
}
.departments .tab-pane .department-img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.departments .tab-pane .department-img p {
  text-align: justify;
}

.departments .department-description p {
  text-align: justify;
  margin-bottom: var(--mb-3);
}

.departments .doc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: var(--mb-3);
  padding: 10px;
  box-shadow: 0px 2px 15px rgba(155, 154, 154, 0.455);
  width: 100vw;
}

.departments .doc-info {
  padding: var(--mb-2);
  width: 300px;
}

.departments .doc-info p {
  margin: 0;
}

.departments .doc:hover {
  box-shadow: 0px 2px 15px rgba(49, 47, 47, 0.149);
}

.departments .doc .pic {
  overflow: hidden;
  width: 180px;
  height: 220px;
  object-fit: cover !important;
  display: flex;
  justify-content: center !important;
}

.departments .doc .pic img {
  transition: ease-in-out 0.3s;
  width: 160px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 12px;
}

.departments .doc h4 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 15px;
  /* color: #2c4964; */
}

.departments .doc span {
  display: block;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  color: #3e3e3e;
}

.doc-appointment {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 35px;
  /* border-radius: 25px; */
  transition: 0.5s;
  color: white;
  background-color: crimson;
}

.doc-appointment:hover {
  background-color: #db0732;
  color: white;
}

/* .doctors .doc span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
} */

.departments .doc p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  /* .departments .tab-pane img {
    float: none;
    padding: 0 0 15px 0;
    max-width: 100%;
  } */

  .departments .tab-pane .department-img img {
    height: 185px;
  }

  .departments .doc {
    display: flex;
    flex-direction: column !important;
    padding: 40px;
  }

  .departments .doc-info {
    margin-bottom: 10px;
  }

  .doc-appointment {
    padding: 6px 25px;
    margin-bottom: 10px;
  }

  .departments .department-description p {
    color: #777777;
    margin-bottom: var(--mb-5);
  }
}

/* .departments .tab-pane h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: crimson;
  text-align: center !important;
} */
.departments .tab-pane p {
  color: #3e3e3e;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors {
  background: #fff;
}

.doctors .member {
  box-shadow: 0px 2px 15px rgba(33, 27, 28, 0.085);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition-duration: 0.3s;
}

.doctors .member:hover {
  box-shadow: 0px 2px 15px rgba(49, 47, 47, 0.149);
}

.doctors .member .pic {
  overflow: hidden;
  width: 180px;
  height: 220px;
  object-fit: cover !important;
}

.doctors .member .pic img {
  transition: ease-in-out 0.3s;
  /* border-radius: 10px; */
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.doctors .member h4 {
  margin-top: 4px;
  font-weight: 700;
  font-size: 14px !important;
  font-size: var(--name-font-size);
  color: #2c4964;
}

.doctors .member-info {
  margin-top: var(--mb-1);
}

.doctors .member span {
  display: block;
  font-size: 14px !important;
  font-size: var(--normal-font-size);
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

/* .doctors .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
} */

.doctors .member p {
  margin: 10px 0 0 0;
  /* font-size: 14px; */
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  /* font-size: 20px; */
  font-size: var(--h3-font-size);
  color: white;
  float: left;
  width: 44px;
  height: 44px;
  background: #d5a0b2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  /* font-size: 22px; */
  font-size: var(--h3-font-size);
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}
/* d5a0b2 */

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  /* font-size: 14px; */
  color: #2c4964;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: crimson;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: crimson;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid crimson;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  /* font-size: 14px; */
  font-size: var(--small-font-size);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  padding: 12px;
  margin-top: var(--mb-2);
  background-color: crimson;
  color: white;
  border: 1px solid white;
  width: 250px;
  transition-duration: 0.3s;
}

.contact .php-email-form button[type="submit"]:hover {
  background-color: #ffffff;
  border: 1px solid crimson;
  color: crimson;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.contact .feedback {
  /* background-color: red; */
  padding: var(--mb-3);
  padding-top: 0;
}
.contact .info {
  padding: var(--mb-3);
  box-shadow: 0px 2px 15px rgba(25, 21, 22, 0.085);
}

.contact .feedback h4 {
  color: #2c4964;
  /* font-size: 22px; */
  /* font-weight: 600; */
  font-size: var(--h3-font-size);
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/
.appointment .php-email-form {
  width: 100%;
}

.appointment .php-email-form .form-group {
  padding-bottom: 8px;
}

.appointment .php-email-form .validate {
  display: none;
  color: crimson;
  margin: 0 0 15px 0;
  font-weight: 400;
  /* font-size: 13px; */
}

.appointment .php-email-form .error-message {
  display: none;
  color: #fff;
  background: crimson;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .error-message br + br {
  margin-top: 25px;
}

.appointment .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: crimson;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.appointment .php-email-form .loading:before {
  content: "";
  display: inline-block;
  /* border-radius: 50%; */
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.appointment .php-email-form input,
.appointment .php-email-form textarea,
.appointment .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: var(--small-font-size);
  padding: 10px !important;
}

.appointment .php-email-form input:focus,
.appointment .php-email-form textarea:focus,
.appointment .php-email-form select:focus {
  border-color: rgb(163, 163, 163);
}

.appointment .php-email-form input,
.appointment .php-email-form select {
  height: 44px;
}

.appointment .php-email-form textarea {
  padding: 10px 12px;
}

.appointment .php-email-form button[type="submit"] {
  background: crimson;
  border: 1px solid crimson;
  margin-top: var(--mb-2);
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
}

.appointment .php-email-form button[type="submit"]:hover {
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-section {
  margin-bottom: var(--mb-5);
}
.gallery .gallery-heading h3 {
  font-size: var(--h3-font-size);
  padding: 0px 7px !important ;
  margin-bottom: var(--mb-1);
  font-weight: 100;
  position: relative;
  color: #2c4964;
  text-transform: capitalize !important;
}

.gallery .gallery-item {
  height: 150px;
  width: 200px;
  overflow: hidden;
  margin: var(--mb-1);
}

@media (max-width: 767px) {
  .gallery .gallery-item {
    height: 100px;
    width: 150px;
  }
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  object-fit: cover;
  height: 100%;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Careers
--------------------------------------------------------------*/
/* .careers-banner {
  padding: 10px;
} */

.careers-section {
  -webkit-box-shadow: -1px 0px 5px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: -1px 0px 5px 4px rgba(0,0,0,0.16);
  box-shadow: -1px 0px 5px 4px rgba(0,0,0,0.16);}

.careers-section p {
font-size: 13px;
}

.careers-banner img {
  max-width: 100%; /* Images will scale down to fit within the parent container */
  height: auto; /* Maintain aspect ratio */
}

.careers-title h4 {
  font-size: 15px !important;
}

.careers-qualification h5,
.careers-experience h5 {
  font-size: 14px !important;
}

.careers-contact a{
  color: #051441;
}
